div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.card {
    width: 10rem;
    height: 12rem;
    text-align: center;
    margin: 1rem 0.5rem;
    
}

div.card div { 
    height: 80%;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 9.6rem;
}

div.card div a:hover svg {
    transform: scale(1.2);
    transition-duration: 200ms;
}

#color_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    justify-content: end;
    cursor: url('/src/img/close_cursor.svg'), auto;
}
